@mixin flexStyle($jc, $gap){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: $jc;
    gap: $gap;
}

@mixin textStyle($fw, $fz, $lh, $ls){
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin media-desktop{
    @media only screen and (max-width: 970px){
        header{
            > div{
                nav{
                    display: none;
                }
                
                button{
                    width: 24px;
                    background-color: white;
                    border: none;
                    @include flexStyle(space-between, 4px);
                    flex-direction: column;
                    
                    div{
                        width: 16px;
                        height: 2px;
                        background-color: black;
                    }
                }
            }
        }

        // * ---------- MAIN ----------
        main{

            // ---------- HERO ----------
            section:nth-of-type(1){
                margin: 0 5vw;
            }

            // ---------- InfoCards ----------
            section:nth-of-type(2){
                padding: 64px 5vw;
            }

            // ---------- CarCards ----------
            section:nth-of-type(3){
                padding: 59px 5vw;
                background-size: 100%;
                background-position: top 0 center;
            }
        }
    }
}

@mixin media-tablet{
    @media only screen and (max-width: 834px){

        // * ---------- HEADER ----------
        header{
            > div{
                margin: 16px 4vw;
            }
        }

        // * ---------- MAIN ----------
        main{

            // ---------- HERO ----------
            section:nth-of-type(1){
                margin: 0 5vw;
                padding-bottom: 30px;

                article{
                    margin-left: 0;
                }
            }

            // ---------- InfoCards ----------
            section:nth-of-type(2){
                padding: 64px 5vw;
            }

            // ---------- CarCards ----------
            section:nth-of-type(3){
                padding: 59px 5vw;
                background-size: 100%;
                background-position: top 0 center;
            }
        }
    }
}

@mixin media-mobile{
    @media only screen and (max-width: 394px){
        html, body{
            min-width: 393px;
            }

            // * ---------- HEADER ----------
            header{
                > div{
                    margin: 16px 2vw;
                }
            }

        // * ---------- MAIN ----------
        main{

            // ---------- HERO ----------
            section:nth-of-type(1){
                margin: 0 20px;
                padding-top: 75px;
                padding-bottom: 0;
                
                h1{
                    @include textStyle(900, 38px, 30px, 0);
                    width: 230px;
                    margin-left: 38px;
                    margin-bottom: 61px;
                }

                article{
                    margin-left: 0;
                }
            }

            // ---------- InfoCards ----------
            section:nth-of-type(2){
                padding: 64px 18px;

                article:nth-of-type(1){
                    p{
                        width: auto;
                    }
                }
            }

            // ---------- CarCards ----------
            section:nth-of-type(3){
                padding: 25px 18px 64px 18px;

                article:nth-of-type(1){
                    p{
                        width: auto;
                    }
                }
            }
        }

        // * ---------- FOOTER ----------
        footer{
            nav{
                flex-direction: column;
                gap: 8px;
            }
        }
    }
}